[submodule ".vim/bundle/vim-colors-jellybeans"]
	path = .vim/bundle/vim-colors-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
